*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #061c2d;
}

.logo{
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border-left: 40px solid #fbbc05;
    border-right: 40px solid #4385f6;
    border-top: 40px solid #ec4336;
    border-bottom: 40px solid #34a856;
}
.logo::before{
    content:'';
    position: absolute;
    top: -150px;
    right: -150px;
    border-top: 110px solid transparent;
    border-right: 110px solid #061c2d;
    border-bottom: 110px solid transparent;
    border-left: 110px solid transparent;
    transform: rotate(90deg);
}